body {
    background-color: linen;
    text-align: center;
}

header {
    width: 250px;
    height: 60px;
    border: 2px solid lightsteelblue;
    margin: 20px auto;
    background-color: ghostwhite;
    font-size: 30px;
    line-height: 60px;
    text-align: right;       
    padding-right: 10px;     
    box-sizing: border-box;  
}

.input {
    width: 250px;
    margin: auto;
}

button {
    width: 55px;
    height: 55px;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}

button:hover {
    background-color: lavenderblush;
}